<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.energy.deptcost.mapper.TurnInvoiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="turnInvoiceResultMap" type="org.springblade.energy.deptcost.entity.TurnInvoice">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="unit_id" property="unitId"/>
        <result column="invoice_price" property="invoicePrice"/>
        <result column="invoice_no" property="invoiceNo"/>
        <result column="invoice_time" property="invoiceTime"/>
    </resultMap>


    <select id="selectTurnInvoicePage" resultType="org.springblade.energy.deptcost.dto.TurnInvoiceDTO">
        select t.id as unitid,t.unit_name as unitname,
        t.read_type readType,t.item_id itemId
        from t_turn_unit t where is_deleted = 0
        <if test="turnInvoice.unitName != null and turnInvoice.unitName != ''">
            AND t.unit_name like CONCAT(CONCAT('%', #{turnInvoice.unitName}), '%')
        </if>
        <if test="turnInvoice.unitid != null and turnInvoice.unitid != ''">
            AND t.id =#(turnInvoice.unitid)
        </if>
    </select>

</mapper>
