<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.pms.station.mapper.TimeControlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="timeControlResultMap" type="org.springblade.pms.station.entity.TimeControl">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="rtu_set_id" property="rtuSetId"/>
        <result column="grade" property="grade"/>
        <result column="on_off" property="onOff"/>
        <result column="time" property="time"/>
    </resultMap>


    <select id="selectTimeControlPage" resultMap="timeControlResultMap">
        select * from t_time_control where is_deleted = 0
    </select>

</mapper>
